body, div, span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

.tile-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .tile-row {
    display: flex;
    outline: red solid 1px;
    flex-grow: 1;
    flex-direction: row;

    .tile-cell {
      outline: blue solid 1px;
      flex-grow: 1;
    }
  }
}
